<div class="container start">
    <h1 class="start-title">BudgeTracker</h1>
    <div class="button-container">
        <p class="log-in-button"><a href="<%= new_user_session_path %>">LOG IN</a></p>
        <p class="sign-up-button"><a href="<%= new_user_registration_path %>">SIGN UP</a></p>  
    </div>
</div>