@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@300;600&display=swap');
@import 'font-awesome';
@import 'home';
@import 'signin';
@import 'categories';
@import 'newCategory';

:root {
  --primary-color: #3778c2;
  --secondary-color: #5fb523;
  --text-color: #434b54;
  --bold-font: 'Proxima Nova', sans-serif;
  --light-font: 'Proxima Nova', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: 'Proxima Nova Bold', Arial, sans-serif;
  color: var(--text-color);
  overflow: hidden;
}

.blue {
  background-color: var(--primary-color);
}

.green {
  background-color: var(--secondary-color);
}

.grey {
  color: var(--text-color);
}

.footer {
  position: fixed;
  bottom: 0;
}
